  <div class="object-cover font-nunito absolute w-full min-h-full bg-cover " style="background-image: url('../../../assets/bg1.png');">
    <div class="flex justify-center my-24 mx-auto xsm:w-11/12">
      <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-[#91633f] bg-opacity-40  shadow-lg lg:min-w-[56rem]">
        <img class="w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg lg:min-w-[19rem] " src="../../../assets/biografia.jpg" alt="" />
        <div class="p-6 flex flex-col justify-start sm:h-40 sm:w-[23rem] md:h-96 md:w-[46rem] lg:h-96 lg:w-[46rem]">
          <div class="flex flex-row font-nunito justify-between">
          <h3 class="text-4xl font-nunito m-2 mb-6 text-gray-900">BIOGRAFIA</h3>
          <button *ngIf="hasLogin" type="button"
          class="inline-block m-1 lg:mr-3.5 lg:-mt-1 px-6 py-2 w-26 h-12 bg-amber-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-amber-700 hover:shadow-lg focus:bg-amber-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-amber-800 active:shadow-lg transition duration-150 ease-in-out" data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable">
          Editar biografia
        </button>
          </div>
          <div class="scrollbar-thin scrollbar-thumb-amber-700 scrollbar-track-amber-50 scrollbar-thumb-rounded-full scrollbar-track-rounded-full overflow-y-auto font-nunito text-base rounded-lg text-gray-900 lg:min-h-[20rem] lg:min-w-[30rem] md:min-h-[16rem] md:min-w-[40rem] xsm:h-40 xsm:min-w-[18rem]
          " *ngIf="!!biografia[0]">
          <h2
            class="pr-6 pl-2 not-italic text-justify text-emerald-900">
            {{biografia[0].text}}
          </h2>
        </div>
        </div>
      </div>
    </div>
    </div>

    <div class="font-nunito modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollable" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-auto pointer-events-none">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-amber-50 bg-clip-padding rounded-md outline-none text-current">
          <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
            <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalCenteredScrollableLabel">
              BIOGRAFIA - Editar biografia
            </h5>
            <button type="button"
              class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
              data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body relative p-4 flex flex-col">
            <div class="">
              <h4 class="mb-3 ml-1 w-36">Biografia:</h4>
              <textarea #bio [value]="biografia[0].text" class="w-full h-60
              px-3
              py-1.5
              text-base
              font-normal
              text-gray-700
              bg-amber-50 bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              focus:text-gray-700 focus:bg-amber-50 focus:outline-none focus:border-2 focus:border-amber-700"></textarea>
            </div>

          <div
            class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-2 border-t border-gray-200 rounded-b-md">
            <button type="button"
              class="inline-block mx-1 px-6 py-2.5 bg-amber-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-amber-700 hover:shadow-lg focus:bg-amber-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-amber-800 active:shadow-lg transition duration-150 ease-in-out"
              data-bs-dismiss="modal">
              Cancelar
            </button>
            <button type="button"
              class="inline-block mx-1 px-6 py-2.5 bg-amber-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-amber-700 hover:shadow-lg focus:bg-amber-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-amber-800 active:shadow-lg transition duration-150 ease-in-out ml-1"
              data-bs-dismiss="modal"
              (click)="editBio(bio.value)">
              Salvar
            </button>
          </div>
        </div>
      </div>
    </div>

