<div class="object-cover absolute w-full min-h-full bg-cover font-nunito"
  style="background-image: url('../../../assets/bg1.png');">
  <div class="flex justify-center my-24">
    <div
      class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-[#91633f] bg-opacity-40  shadow-lg lg:min-w-[56rem]">
      <img
        class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg lg:min-w-[19rem]"
        src="../../../assets/agenda.jpg" alt="" />
      <div class="p-6 flex flex-col justify-start sm:h-40 sm:w-[23rem] md:h-96 md:w-[46rem] lg:h-96 lg:w-[46rem]">
        <div class="flex flex-row font-nunito justify-between">
        <h3 class="text-4xl  m-2 mb-6 text-gray-900">AGENDA</h3>
        <button type="button" *ngIf="!!hasLogin"
            class="inline-block m-1 lg:mr-3.5 px-6 py-2 w-26 h-12 bg-amber-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-amber-700 hover:shadow-lg focus:bg-amber-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-amber-800 active:shadow-lg transition duration-150 ease-in-out" data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable">
            Adicionar evento
          </button>
        </div>
        <ul class="scrollbar-thin scrollbar-thumb-amber-700 scrollbar-track-amber-50 scrollbar-thumb-rounded-full scrollbar-track-rounded-full overflow-y-auto font-nunito text-base rounded-lg pr-[17px] text-gray-900">
          <div *ngIf="!!eventos[0]">
            <li class="px-2 py-2  font-black not-italic text-emerald-900 border-b border-gray-200 w-full"
              *ngFor="let evento of eventos">
              <div class="grid grid-cols-3 items-center">
                <div class="col-span-2">
              <h5 class="font-normal italic text-black">{{evento.data}}</h5>
              {{evento.local}}
            </div>
              <div class="flex justify-end flex-wrap" *ngIf="!!hasLogin">
                <button type="button"
                class="shrink-0 inline-block m-1 px-3 py-2.5 w-20 h-10 bg-yellow-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-700 hover:shadow-lg focus:bg-yellow-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-800 active:shadow-lg transition duration-150 ease-in-out"
                data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable1" (click)="onSelectEvent(evento)">
                Editar
              </button>
              <button  (click)="deleteEvent(evento)" type="button"
              class="inline-block m-1 px-3 py-2.5 w-20 h-10 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">
            Excluir
          </button>
            </div>
            </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="font-nunito modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollable" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-auto pointer-events-none">
    <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-amber-50 bg-clip-padding rounded-md outline-none text-current">
      <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
        <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalCenteredScrollableLabel">
          AGENDA - Adicionar novo evento
        </h5>
        <button type="button"
          class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body relative p-4 flex flex-col">
            <div class="flex flex-row">
          <h4 class="m-3">Data:</h4>
          <input #addData type="text" class="w-full h-10
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-amber-50 bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-amber-50 focus:outline-none focus:border-2 focus:border-amber-700">
        </div>
        <div class="flex flex-row">
          <h4 class="m-3">Local:</h4>
          <input #addLocal type="text" class="w-full h-10
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-amber-50 bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-amber-50 focus:outline-none focus:border-2 focus:border-amber-700">
        </div>
      </div>
      <div
        class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
        <button type="button"
          class="inline-block mx-1 px-6 py-2.5 bg-amber-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-amber-700 hover:shadow-lg focus:bg-amber-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-amber-800 active:shadow-lg transition duration-150 ease-in-out"
          data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button"
          class="inline-block mx-1 px-6 py-2.5 bg-amber-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-amber-700 hover:shadow-lg focus:bg-amber-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-amber-800 active:shadow-lg transition duration-150 ease-in-out ml-1"
          data-bs-dismiss="modal" (click)="addEvent(addData.value, addLocal.value)">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal editar -->

<div class="font-nunito modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="exampleModalCenteredScrollable1" tabindex="-1" aria-labelledby="exampleModalCenteredScrollable" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-auto pointer-events-none">
    <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-amber-50 bg-clip-padding rounded-md outline-none text-current">
      <div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
        <h5 class="text-xl font-medium leading-normal text-gray-800">
          AGENDA - Editar evento
        </h5>
        <button type="button"
          class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body relative p-4 flex flex-col">
            <div class="flex flex-row">
          <h4 class="m-3">Data:</h4>
          <input #data type="text" value="{{eventoSelecionado.data}}" class="w-full h-10
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-amber-50 bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-amber-50 focus:outline-none focus:border-2 focus:border-amber-700">
        </div>
        <div class="flex flex-row">
          <h4 class="m-3">Local:</h4>
          <input #local type="text" value="{{eventoSelecionado.local}}" class="w-full h-10
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-amber-50 bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-amber-50 focus:outline-none focus:border-2 focus:border-amber-700">
        </div>
      </div>
      <div
        class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
        <button type="button"
          class="inline-block mx-1 px-6 py-2.5 bg-amber-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-amber-700 hover:shadow-lg focus:bg-amber-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-amber-800 active:shadow-lg transition duration-150 ease-in-out"
          data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button"
          class="inline-block mx-1 px-6 py-2.5 bg-amber-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-amber-700 hover:shadow-lg focus:bg-amber-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-amber-800 active:shadow-lg transition duration-150 ease-in-out ml-1"
          data-bs-dismiss="modal" (click)="editEvent(data.value, local.value)" >
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>


